$fontFamily: 'nunito', sans-serif;
$colorLetrasMasOscuro: #25313d; 
$sizeGenericoImagenesModelos: 25rem;

.modelosTexto {
    text-align: center;
    margin: 0 4rem 4rem 4rem;

    .modelosTexto__p {
        font-size: 2rem;
        .linkContactoModelos {
            font-weight: normal;
            color: $colorLetrasMasOscuro;
            font-size: 2rem;
            text-decoration: underline;
        }
    }
}

.sectionModelos__Galeria {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 4rem;
}

.sectionModelos__Galeria__div {
    display: flex;
    flex-direction: column;
    margin: 2rem;

    .divModelosFigure {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        figure {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin: 2.5rem;
            border: solid 0.5px rgb(27, 27, 27);
            border-radius: 5%;
            width: auto;
            padding: 0.5rem;
            img {
                margin: 0.7rem;
                padding: 0.7rem;
                border-radius: 5%;
            }
            button {
                font-size: 1.5rem;
                font-family: $fontFamily;
                width: 20rem;
            }
        }
    }
}

.modal-title {
    font-size: 2rem;
}

.listaSinCosito {
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    font-size: 1.8rem;
}

$mapImagenes: (
        ganeshaykrishna: $sizeGenericoImagenesModelos,
        milo: $sizeGenericoImagenesModelos,
        laraysusdisfraces: $sizeGenericoImagenesModelos,
        camiloOso: $sizeGenericoImagenesModelos,
        candy: 40.53rem,
        cotorra: 20.09rem,
        ursulaygatito: $sizeGenericoImagenesModelos,
        animalitos: 39.29rem,
        kiaraydin: $sizeGenericoImagenesModelos,
);

@each $nombre, $ancho in $mapImagenes {
    .#{$nombre} {
        width: #{$ancho};
        height: $sizeGenericoImagenesModelos;
    }
}




