$allPercentage: 100%;

@media screen and (min-width: 1200px) {
    $mapImagenes: (
        ganeshaykrishna: $sizeGenericoImagenesModelos,
        milo: $sizeGenericoImagenesModelos,
        laraysusdisfraces: $sizeGenericoImagenesModelos,
        camiloOso: $sizeGenericoImagenesModelos,
        candy: 45.39rem,
        cotorra: 22.50rem,
        ursulaygatito: $sizeGenericoImagenesModelos,
        animalitos: 44rem,
        kiaraydin: $sizeGenericoImagenesModelos,
);

@each $nombre, $ancho in $mapImagenes {
    .#{$nombre}:hover {
        transform: scale(1.2,1.2);
    }
}
}

@media only screen and (max-width: 768px){

    .sectionModelos__Galeria {
        margin: 1rem;
    }

    .sectionModelos__Galeria__div {
        width: $allPercentage;
        figure {
            width: 90%;

            img {
                width: $allPercentage;
                height: $allPercentage;
            }
        }
    }

    .ganeshaykrishna {
        width: $allPercentage;
        height: $allPercentage;
    }
}
