@media (max-width: 990px) {
    .navbar-nav {
        align-items: center;
    }
}

@media only screen and (max-width: 768px){
    .disenioSubtitulos {
        font-size: 3.3rem;
        margin: 1rem;
    }

        .footer__novedades {
        form {
            .disenioFormFooter {
                width: 20rem;
            }
        }
    }
}


@media only screen and (max-width: 320px){
    .footer {
        font-size: 1.8rem;
    }

    .footer__novedades {
        form {
            .disenioFormFooter {
                width: 20rem;
            }
        }
    }
}

