$allPercentage: 100%;

@media only screen and (max-width: 768px){

    .sectionModelos__Galeria {
        margin: 1rem;
    }

    .sectionModelos__Galeria__div {
        width: $allPercentage;
        figure {
            width: 90%;

            img {
                width: $allPercentage;
                height: $allPercentage;
            }
        }
    }

    .ganeshaykrishna {
        width: $allPercentage;
        height: $allPercentage;
    }
}
